body{
    background-color: rgb(10, 10, 10);
    color: antiquewhite;
}
img{
    /* padding: 20px; */
     margin-top: 30px;
     margin-left: 800px;
    border-radius: 20%;
}
h1{
    font-size: 2.7rem;
}